.home-banner-img{
  height: 296px;

  @include media-breakpoint-up(lg){
    height: auto;
  }
}


.section-title{
  position: relative;

  &::after{
    content: '';
    display: block;
    width: 5rem;
    height: 8px;
    background: $primary;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: 6px auto 0;
  }
}